#btnUserDetails {
    -fx-background-color: #00B2B5;
    -fx-text-fill: white;
}
#btnInventory {
     -fx-background-color: #CC8800;
     -fx-text-fill: white;
}
#btnLogout {
     -fx-background-color: #C176EE;
     -fx-text-fill: white;
}